.swiper-button-prev ,
.swiper-button-next {
    color: #fff;
    
}

.swiper-pagination-bullet-active{
    background-color: #fff;
}

:root {
    --swiper-navigation-size: 35px;
}

@media screen and (min-width: 320px) and (max-width: 960px){
    :root {
        --swiper-navigation-size: 25px;
    }
}