/* Lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.loader {
    width: 50px;
    aspect-ratio: 1;
    --_c:no-repeat radial-gradient(farthest-side,#20202276 92%,#0000);
    background: 
      var(--_c) top,
      var(--_c) left,
      var(--_c) right,
      var(--_c) bottom;
    background-size: 12px 12px;
    animation: l7 1s infinite;
    
  }
  @keyframes l7 {to{transform: rotate(.5turn)}}


.loader2 {
  width: 120px;
  height: 20px;
  background:
   linear-gradient(#000 0 0) left/20px 20px no-repeat
   #ddd;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
    50% {background-position: right }
}


@tailwind base;
@tailwind components;
@tailwind utilities;